/*/////////////////*/
 /* CSS FOR FOOTER */
 /*////////////////*/

 #footer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background: #383838;
  color: #eaebeb;
  font-size: 1rem;
  height: 3vh;
  position: sticky;
  top: 100vh;
  flex-shrink: 0;
}